body {
  background-color: black;
  margin: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: Poppins;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

textarea:focus, input:focus {
  outline: none;
}

*:focus {
  outline: none;
}

.App {
  text-align: center;
  background-color: none;
  display: flex;
  justify-content: center;
  color: white;
  width: 840px;
  height: auto;
  padding-bottom: 100px;
}

.navbar {
  background-color: black;
  color: white;
  margin: auto;
  width: 840px;
  padding-top: 100px;
  padding-bottom: 50px;
}

.nav-link {
  display: inline-block;
  width: auto;
  padding: 5px;
  margin: 0 6px 6px;
  background: none;
  font-size: 15px;
  text-decoration: line;
}

.nav-link-login {
  display: inline-block;
  width: auto;
  padding: 5px;
  margin: 0 6px 6px;
  background: none;
  font-size: 20px;
  text-decoration: line;
}

.nav-container {
  display: flex;
  align-items: center;
  width: 840px;
}

.nav-child-1 {
  width: 280px;
  text-align: left;
}

.nav-child-2 {
  width: 280px;
  text-align: center;
}

.nav-child-3 {
  width: 280px;
  text-align: right;
}

.menu-trigger {
  background-color: black;
  border: 1px solid rgb(38, 38, 38);
  width: 150px;
  position: absolute;
  
}

.upperhomediv {
  background-color: black;
  color: white;
  margin: auto;
  text-align: center;
  width: 840px;
  height: auto;
  padding-top: 200px;
}

.banner-image {
  background-color: black;
  width: 840px;
  height: auto;
  margin: auto;
  padding-bottom: 120px;
}

.headline-text {
color: white;
font-size: 30px;
line-height: 50px;
word-wrap: break-word;
width: 500px;
height: 150px;
justify-content: center;
padding-left: 155px;
}

.banner {
  width: 840px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.about-section {
  background-color: black;
  color: white;
  margin: auto;
  text-align: center;
  width: 840px;
  height: auto;
}

.about-container {
  display: flex;
  align-items: center;
  width: 840px;
  height: auto;
  padding: 20px;
}

.about-child-1 {
  width: 280px;
  padding: 10px;
}

.about-child-2 {
  width: 280px;
  padding: 10px;
}

.about-child-3 {
  width: 280px;
  padding: 10px;
}

.service-info {
  justify-content: center;
  padding-right: 100px;
  padding-left: 100px;
}

.middlehomediv {
  background-color: white;
  color: black;
  margin: auto;
  text-align: center;
  width: 840px;
  padding: 20px;
}

.bottomhomediv {
  margin: auto;
  background-color: rgb(230, 230, 230);
  color: black;
  text-align: center;
  width: 840px;
  padding: 20px;
  padding-bottom: 100px;
}

.car-intro-div {
  justify-content: center;
  padding-right: 100px;
  padding-left: 100px;
}

/* .bottom-child-1 {
  width: 520px;
  height: auto;
  background-color: rgb(230, 230, 230);
  color: black;
  margin: 3px;
  padding: 10px;
}

.bottom-child-2 {
  width: 320px;
  height: auto;
  background-color: rgb(203, 203, 203);
  color: black;
  margin: 3px;
} */

.button-div {
  display: flex;
  width: 840px;
  height: auto;
  justify-content: center;
  padding-top: 50px;
  gap: 10px
}

.car-btn-div {
  border: 1px solid rgb(97, 97, 97) ;
  border-radius: 10px;
}

.car-button {
  background-color: white;
  color: black;
  font-family: Poppins;
  border: none;
  border-radius: 10px;
  height: 30px;
}

.all-car-btn-div {
  border-radius: 10px;
}

.all-car-btn {
  background-color: black;
  color: white;
  font-family: Poppins;
  border: none;
  border-radius: 10px;
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.form-login {
  padding-top: 60px;
  text-align: center;
  color: white;
  display: block;
  width: 400px;
  height: 450px;
  line-height: 3.5;
  border: 1px solid rgb(97, 97, 97);
  box-shadow: 0px 5px 10px #909090;
}

.form-signup {
  padding-top: 60px;
  text-align: center;
  color: white;
  display: block;
  width: 400px;
  height: 600px;
  line-height: 3.5;
  border: 1px solid rgb(97, 97, 97);
  box-shadow: 0px 5px 10px #909090;
  align-items: center;
}

.login-input {
  /* border: 1px solid rgb(97, 97, 97); */
  border: none;
  padding: 3%;
  width: 250px;
  font-family: Poppins;
}

.input-box {
  background-color: white;
  border: 1px solid rgb(97, 97, 97);
  width: 300px;
  margin: auto;
  text-align: left;
  padding-left: 7px;
}

.input-with-icon-div {
  display: flex;
  width: 300px;
  background-color: white;
  color: black;
  padding: 3px;
}

.icon-span {
  cursor: pointer;
}

.custom-input {
  width: 250px;
  border: none;
  outline: none;
  font-family: Poppins;
  padding: 10px;
}

.login-btn {
  background-color: rgb(29, 29, 29);
  border: 1px solid white;
  color: white;
  width: 307px;
  padding: 3%;
  font-family: Poppins;
}

.sign-btn {
  background-color: transparent;
  color: white;
  padding: 2px;
  font-family: Poppins;
  border-radius: 10%;
  border: none;
  font-weight: bold;
  font-size: 15px;
}

.Footer {
  text-align: center;
  background-color: black;
  display: flex;
  justify-content: center;
  color: white;
}

.foot-container {
  display: flex;
  align-items: center;
  width: auto;
}

.foot-child-1 {
  width: 280px;
  text-align: left;
}

.foot-child-2 {
  width: 280px;
  text-align: center;
  display: flex;
}

.foot-child-3 {
  width: 280px;
  text-align: right;
}

.footer-links {
  padding: 8px;
  font-size: 15px;
}

.car-collection {
  padding: 20px;
}

.image-container {
  background-color: white;
  width: 245px;
  height: 345px;
  border-radius: 1rem;
  box-shadow: 0px 10px 8px #999;
  display: flex;
  flex-direction: column;
}

.car-image {
  width: 100%;
  height: 10rem;
  border-radius: 1rem;
  object-fit: cover;
}

.car-body {
  padding: 5px;
}

.image-title {
  padding-left: 10px;
  text-align: left;
}

.image-price {
  padding-left: 10px;
  text-align: left;
}

.card-section {
  background-color: rgb(227, 227, 227);
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  object-fit: cover;
}

.car-detail-btn {
  background-color: black;
  color: white;
  font-family: Poppins;
  border: none;
  border-radius: 1rem;
  height: 30px;
  width: 100%;
}

.customer-review {
  background-color: rgb(230, 230, 230);
  color: black;
  width: 840px;
  height: 600px;
  padding: 80px;
  text-align: left;
}

.customer-information {
  display: flex;
}

.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  background-color: gray;
}

.profile-info {
  padding: 20px;
  line-height: 1;
}

.customer-from {
  color: gray;
  font-size: 12px;
}

.account-page-div {
  background-color: black;

}

.account-banner {
  width: 840px;
  height: 300px;
  flex-shrink: 0;
}

.account-nav {
  background-color: white;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  height: 80px;
  width: 800px;
}

.account-btn-div {
  /* border: 1px solid rgb(97, 97, 97) ; */
  width: 200px;
}

.account-btn {
  background-color: #AEAEAE;
  border: none;
  color: white;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  width: 199px;
  height: 80px;
}

.account-border-radius-left {
  border-radius:  2rem 0px 0px 2rem ;
}

.account-border-radius-right {
  border-radius:  0 2rem 2rem 0 ;
}

.account-middle-div {
  background-color: #fff;
  display: flex;
  justify-content: center;
  width: 800px;
  height: 1000px;
  margin: auto;
  padding-top: 25px;
}

.left-div {
  width: 500px;
  color: black;
}

.right-div {
  background-color: rgba(243, 243, 243, 0.90);
  color: black;
  width: 250px;
  height: 800px;
  border-radius: 1rem;
  box-shadow: 0px 10px 8px #e2e2e2;
}